django==4.2.18
djangorestframework==3.15.2
djangorestframework-api-key==3.0.0
django-health-check==3.18.3
django-otp==1.5.0
drf-spectacular==0.28.0
elastic-apm==6.23.0
gunicorn==23.0.0
psycopg==3.2.2
PyJWT[crypto]==2.10.1
python-decouple==3.8
requests==2.32.2
whitenoise[brotli]==6.8.2
